<div class="container-fluid">
  <footer class="bg-success" id="tempaltemo_footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 pt-5">
          <h2 class="h2 text-light border-bottom pb-3 border-light">Book Store</h2>
          <ul class="list-unstyled text-light footer-link-list">
            <li>
              <i class="fas fa-map-marker-alt fa-fw"></i> &nbsp;
              280 Trần Hưng Đạo,An Hải Tây,Sơn Trà, TP.Đà Nẵng
            </li>
            <li>
              <i class="fa fa-phone fa-fw"></i> &nbsp;
              <a class="text-decoration-none" href="">02366666666</a>
            </li>
            <li>
              <i class="fa fa-envelope fa-fw"></i> &nbsp;
              <a class="text-decoration-none" href="">bookstore.vn</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row text-light mb-4">
        <div class="col-12 mb-3">
          <div class="w-100 my-3 border-top border-light"></div>
        </div>
        <div class="col-auto me-auto"></div>
        <div class="col-auto">
          <ul class="list-inline text-left footer-icons">
            <li class="list-inline-item border border-light rounded-circle text-center">
              <a class="text-light text-decoration-none" target="_blank" href="https://facebook.com/"><i
                class="fab fa-facebook-f fa-lg fa-fw"></i></a>
            </li>
            <li class="list-inline-item border border-light rounded-circle text-center">
              <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i
                class="fab fa-instagram fa-lg fa-fw"></i></a>
            </li>
            <li class="list-inline-item border border-light rounded-circle text-center">
              <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                class="fab fa-twitter fa-lg fa-fw"></i></a>
            </li>
            <li class="list-inline-item border border-light rounded-circle text-center">
              <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i
                class="fab fa-linkedin fa-lg fa-fw"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="w-100 bg-black py-3">
      <div class="container">
        <div class="row pt-2">
          <div class="col-12">
            <p class="text-left text-light">
              BOOK STORE &copy; 2022 &nbsp;
              <b> | </b> &nbsp; Designed by
              <a rel="sponsored" href="" target="_blank" class="text-decoration-none fw-bold">TRUNG PHAM DINH (TRUNGPD)</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
